//.container {
//  padding: 0;
//}

div[data-event-calendar] {
  .event-calendar {
    margin: 150px auto;
    width: 700px;

    @include vp-767 {
      width: 100%;
    }
  }
}

.event-calendar {
  $b: &;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;

  @include vp-767 {
    font-size: 16px;
    line-height: 20px;
  }

  &__header {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    position: relative;
    color: $color-default-white;
    background-color: $color-neon-blue;
    user-select: none;
  }

  &__body {
    display: flex;
    flex-grow: 1;
  }

  &__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: 2px solid $color-neon-blue;
  }

  &__weekdays,
  &__days {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__weekdays {
    padding: 4px 0;
    flex-shrink: 0;
    color: $color-default-white;
    background-color: $color-default-black;
  }

  &__days {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
  }

  &__nav-btn {
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: $color-transparent;
    border: none;
    cursor: pointer;
    color: $color-default-white;
    transition: color $trans-default;

    svg {
      width: 20px;
      height: 20px;

      @include vp-767 {
        width: 16px;
        height: 16px;
      }
    }

    #{$b}__header  & {
      @include hover-focus {
        color: $color-default-black;
      }

      &--prev {
        margin-right: auto;

        svg {
          order: -1;
          margin-right: 5px;
          transform: rotate(90deg);
        }
      }

      &--next {
        margin-left: auto;

        svg {
          margin-left: 5px;
          transform: rotate(-90deg);
        }
      }
    }

    #{$b}__sidebar & {
      width: 100%;

      @include hover-focus {
        color: $color-neon-blue;
      }

      &--prev {
        svg {
          transform: rotate(-180deg);
        }
      }

      &--next {
        svg {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__nav-btn-text {
    font-size: 16px;
    line-height: 20px;
  }

  &__current-month {
    margin: 0 auto;
    text-align: center;
    cursor: default;
  }

  &__month {
    #{$b}__header & {}

    #{$b}__header & + #{$b}__year {
      padding-left: 10px;
    }

    #{$b}__sidebar & {
      padding: 5px 30px;
      width: 100%;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      transition: color $trans-default, background-color $trans-default;

      @include vp-767 {
        font-size: 16px;
        line-height: 20px;
      }

      @include hover-focus {
        color: $color-neon-blue;
      }

      &--current {
        color: $color-default-white;
        background-color: $color-neon-blue;

        @include hover-focus {
          color: $color-default-black;
          background-color: $color-default-white;
        }
      }

      &--selected {
        color: $color-default-black;
        background-color: $color-default-white;
      }

      &--event {
        position: relative;

        &::before {
          content: '\00B7';
          display: block;
          position: absolute;
          top: 50%;
          left: 5px;
          font-size: 40px;
          transform: translateY(-50%);

          @include vp-767 {
            left: -2px;
          }
        }
      }
    }
  }

  &__year {}

  &__weekday,
  &__day {
    --left-offset: 18px;

    width: calc(100% / 7 - (var(--left-offset) * 6 / 7));
    display: inline-flex;
    cursor: default;
    user-select: none;

    &:nth-child(7n-6) {
      margin-left: 0;
    }
  }

  &__weekday {
    margin: 0 0 0 var(--left-offset);
    padding: 4px;
    align-items: center;
    justify-content: center;
  }

  &__day {
    position: relative;
    margin: 6px 0 6px var(--left-offset);

    &--disabled {
      #{$b}__number {
        color: rgba($color-neon-blue, 0.2);
      }
    }

    &--prev,
    &--next {
      #{$b}__number {
        color: rgba($color-neon-blue, 0.2);
        background-color: rgba(#c0c0c0, 0.3);
      }
    }

    &--today {
      #{$b}__number {
        padding: 2px;
        border: 2px solid $color-default-black;
      }
    }

    &--event {
      &:focus-within {
        .event-calendar__number {
          opacity: 0.8;
        }

        .event-calendar__events {
          display: flex;
          opacity: 1;
        }
      }

      @include hover-focus {
        .event-calendar__number {
          opacity: 0.8;
        }

        .event-calendar__events {
          display: flex;
          opacity: 1;
        }
      }

      #{$b}__number {
        color: $color-default-white;
        background-color: $color-neon-blue;
        cursor: pointer;
        transition: opacity $trans-default;
      }
    }
  }

  &__day-inner {
    width: 100%;
  }

  &__number {
    padding: 4px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__events {
    --bottom-offset: 12px;
    --border-width: 2px;

    position: absolute;
    width: 226px;
    top: calc(100% + var(--bottom-offset));
    left: 0;
    padding: 9px 11px;
    background-color: $color-default-white;
    border: var(--border-width) solid $color-neon-blue;
    z-index: 10;
    display: none;
    flex-direction: column;
    user-select: text;

    // Элемент увеличивающий область для ховера, чтобы избежать
    // его потери при переходе от элемента дня к элементу с событиями
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: calc((var(--border-width) + var(--bottom-offset)) * -1);
      height: calc(var(--border-width) + var(--bottom-offset));
      right: calc(var(--border-width) * -1);
      left: calc(var(--border-width) * -1);
    }
  }

  &__event {
    padding: 8px 0 6px;
    text-align: left;
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: inherit;
    border-bottom: 2px solid $color-neon-blue;
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.8;
    }

    span {
      display: block;
      color: $color-neon-blue;
    }

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  // ------ Sidebar ------
  &__sidebar {
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-default-white;
    background-color: $color-default-black;
    border: 2px solid $color-neon-blue;
    border-right: none;
  }

  &__months {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-grow: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
